html,body{
padding:0;
margin:0;
background-color: transparent;
border: none;
font-family: sans-serif;
}
.container{
 position:fixed;
 width: 100%;
  height: 100%;
}
.input-area{
  background-color: rgba(48, 48, 48, 0.9);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 15px;
  border:1px solid gray;
  overflow: hidden;
  width:900px;
}

input {
  background-color :transparent;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
  color: #f6f6f6;
  border: none;
  border-bottom: 2px solid orangered;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
   height: 30px;
   outline: none;
   
}
.input-label
{
  display: block;
  font-size: 16px;
  color: #f6f6f6;
  width: calc ( 100% -10px);
  padding-top: 5px;
  padding-bottom:15px;
  padding-left:10px;
  border-bottom: 1px solid gray;
}

.highlight{
  background-color: #222222;
  color:#d6d6d6;
  padding:3px;
}

.result{
  width: 100%;
  border-top: 1;
  padding-top:3px;
  padding-bottom:3px;
  margin-top: 3px;
display: flex;
}


.result-selected{
  background-color: #4f4f4f;
}
.result-left{
  color:#f6f6f6;
  width:70%;
 text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.result-right{
  color:#afafaf;
  text-align: right;
  width: 30%;
}

.holder{
  display:flex;
  flex-direction:column;
  padding:10px;
  max-height: 300px;
  overflow-y: auto;
}

.hint{
  position:fixed;
  background-color: rgba(220, 220, 0,0.9);
  color: black;
  font-weight: normal;
  font-size: 0.8em;
  padding: 2px;
  border:1px solid darkslategrey;
  text-align: center;
  z-index: 1;
  border-radius: 3px;
  
}

.hint-selected{
  background-color: darkgreen;
  color: white;
  z-index: 2;
}

.loader {
  width:100%;
  height: 4px;
  background-color: #676;
  position: relative;
  overflow: hidden;
}

.loader::before {
  content: "";
  display: block;
  position: absolute;
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: orangered;
  animation: loading-bar 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes loading-bar {
  0% {
    left: -200px;
    width: 200px;
  }
  100% {
    left: 100%;
    width: 200px;
  }
}